body {
	font-family: 'Lato', sans-serif;
	text-align: center;
}



#quiz {
	text-align: center;
	margin-left: center;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: none;
	border-radius: center;
	float: none;

}

#input {
	margin-bottom: 20px;
	display: block;
}




#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}



#mc {
	display: inline;
} 